<!--<div class="post">
  <div class="card border border-dark p-2 m-2">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{content}}</p>
        <footer class="blockquote-footer">
          Posted by
          {{user.username}}
          on
          {{formatDate created_at}}
        </footer>
        <a href="#" class="btn btn-primary m-2">Edit post</a>

      </blockquote>
    </div>
  </div>
</div> -->
{{#if error}}
  <h3>{{error}}</h3>
{{else}}

  <div class="form-group">
    <div>
      <h5>ID <span id="post-id">{{post.id}}</span></h5>
    </div>
    <label for="post-title">Post Title</label>
    <input
      type="text"
      class="form-control"
      id="post-title"
      value="{{post.title}}"
    />
  </div>

  <div class="form-group">
    <label for="post-content">Post Content</label>
    <textarea
      class="form-control"
      id="post-content"
      rows="3"
    >{{post.content}}</textarea>
  </div>
  <button type="submit" id="edit-post" class="btn btn-primary">Update</button>
{{/if}}
<script src="/js/edit-post.js"></script>